@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Dark slate background */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars during game */
}